{
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ]
    },
    "build": {
       "presets": [
          ["env", { "modules": false }]
        ]
     }
  },
  "plugins": ["external-helpers", "transform-runtime"]
}
